<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= tienda.name %></title>
  <base href="/">
  <meta name="description" content="Nodejs - Sistema de pedidos - Alejandro Zuriguel">
  <meta name="author" content="Hola">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP cdn-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <link href="/asset/css/all.css" rel="stylesheet">
  <link href="/asset/css/stripe.css" rel="stylesheet">
  <style>
    body{
      font-family: 'Quicksand', sans-serif;
      background: #f8fbfd;
    }
    .warning{
      color: red;
    }
    .green{
      color: green;
    }
    .carta{
      background:#fafafa;
      border-radius: 5px;
      padding:10px;
    }
    .cart:hover{
      box-shadow: 0 .125rem .25rem #949494 !important;
    }
    .list-group-item {
      border: none;
    }
  </style>

  

</head>
<body>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a href="/<%= tienda.slug %>/" class="navbar-brand" style="width: 100%;"><img  class="rounded mx-auto d-block" src="./asset/img/logo/<%= tienda.logo %>" style="max-width: 300px;" alt=""></a>
  </nav>
</div><br>